@*请注意这里不要像Index那样使用IEnumerable<Bonsaii.Models.DepartmentViewModel>*@
@model Bonsaii.Models.DepartmentViewModel

@{
        ViewBag.Title = "部门详情";
}

<script src="~/Scripts/UI/lib/jquery/jquery.min.js"></script>
<div class="content">
    <!-- 主内容开始 -->
    <div class="control-bar card bor-b">
        <ul class="breadcrumb pull-left pv">
            <li><a href="#"><i class="fa fa-home"></i>主页</a></li>
            <li><a href="#">组织结构</a></li>
            <li><a href="#">@ViewBag.Title</a></li>
        </ul>
        <div class="h-list pull-right pv">
            <a href="/Department/Edit/@Model.Id"><i class="fa fa-edit"></i>编辑</a>
            <a href="#" id="refresh"><i class="fa fa-refresh"></i>刷新</a>
            <a href="/Department/Index"><i class="fa fa-backward"></i>返回</a>

        </div>
    </div>
</div>
<div class="card panel-box">
    <h4 class="title">@ViewBag.Title</h4>
   
    <div>


        <dl class="dl-horizontal">
         
            @*<dt>
                @Html.DisplayNameFor(model => model.DepartmentId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DepartmentId)
            </dd>*@
            @Html.HiddenFor(model => model.DepartmentId)
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DepartmentAbbr)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DepartmentAbbr)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ParentDepartmentName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ParentDepartmentName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StaffSize)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StaffSize)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Remark)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Remark)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DepartmentOrder)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DepartmentOrder)
            </dd>

            @* DepartmentViewModel显示部门信息（部门表变化的字段） *@
            @foreach (var temp in @ViewBag.List)
            {
                <dt>
                    @Html.DisplayName((string)temp.Description)
                </dt>

                <dd>
                    @temp.Value
                </dd>
            }
            <dt>
                
               
            </dt>

            <dd>
                <a href="/Department/Edit/@Model.Id"><input type="submit" value="编辑" class="btn btn-primary" /></a> <button type="button" class="btn btn-outline" onclick="tz()">取消</button>
</dd>
        </dl>
    </div>
    </div>
<script>
    $("#refresh").click(function () {
        window.location.reload();
    })
    function tz() {
        window.location.href = "/Department/Index";
    }
</script>
