@model IEnumerable<Bonsaii.Models.DepartmentViewModel>

@{
    ViewBag.Title = "部门信息管理";
}
@*<script src="~/Scripts/UI/lib/jquery/jquery.min.js"></script>*@
<script src="~/Content/zTree/jquery.ztree.core-3.5.js"></script>
<link href="~/Content/zTree/metroStyle/metroStyle.css" rel="stylesheet" />
<style>
a:link{
text-decoration:none;
}
a:visited{
text-decoration:none;
}
a:hover{
text-decoration:none;
}
a:active{
text-decoration:none;
}
</style>

@*<script src="~/Scripts/datatable/jquery.dataTables.js"></script>
    <script src="~/Scripts/datatable/dataTables.bootstrap.min.js"></script>*@
<script type="text/javascript">
    var setting = {
        async: {
            enable: true,
            url: "/ZTree/CDTree",
            autoParam: ["id", "name"],
        },
        data: {
            simpleData: {
                enable: true,
                idKey: "id",
                pIdKey: "pId",
                rootPId: 0
            }
        },
        view: {
            // showIcon: false,
            showLine: false
        }
    };

    function filter(treeId, parentNode, childNodes) {
        if (!childNodes) return null;
        for (var i = 0, l = childNodes.length; i < l; i++) {
            childNodes[i].name = childNodes[i].name.replace(/\.n/g, '.');
        }
        return childNodes;
    }
    //$(document).ready(function () { $.fn.zTree.init($("#tree"), setting); });

    $(document).ready(function (e) {
        $.ajax({
            url: "/ZTree/CDTree",
            type: "post",
            data: { id: 0 },
            success: function (data) {
                //alert(data);
                //   json = JSON.parse(data);
                var tree = $("#treeDemo");
                //alert(data);
                $.fn.zTree.init(tree, setting, data);
                var treeObj = $.fn.zTree.getZTreeObj("treeDemo");
                treeObj.expandAll(true);
            }
        });
    });

    $("#refresh").click(function () {
        window.location.reload();
    });
</script>
@using (Html.BeginForm("Index", "Department", FormMethod.Post, new { enctype = "multipart/form-data", @id = "longfor_form" }))
{ 
     @Html.AntiForgeryToken()

    <!-- 主内容开始 -->
    <div class="control-bar card bor-b">
        <ul class="breadcrumb pull-left pv">
            <li><a href="#"><i class="fa fa-home"></i>主页</a></li>
            <li><a href="#">系统设置</a></li>
            <li><a href="#">@ViewBag.Title</a></li>
        </ul>
        <div class="h-list pull-right pv">
            <a href="/Department/Create"><i class="fa fa-plus"></i>新增</a>
            <a href="#" id="refresh"><i class="fa fa-refresh"></i>刷新</a>
            <a href="#" id="up" data-toggle="modal" data-target="#indentifier"><i class="fa fa-upload"></i>导入</a>
            <a href="#"><i class="fa fa-print"></i>输出</a>
        </div>
        <div class="modal fade" id="indentifier" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">
                            ×
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            导入部门信息
                        </h4>
                    </div>
                    <div class="modal-body">
                        @if (ViewBag.alertMul != null)
                        {
                            foreach (var itemMul in ViewBag.alertMul)
                            {
                                <h4 id="text">@itemMul</h4>
                            }

                        }                         
                        <div class="col-md-3">
                            <input type="file" name="File" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="@Url.Action("Download")">

                            下载
                        </a>
                        <input type="submit" value="导入" id="submitForm" class="btn btn-primary" />

                        @*<button type="submit" class="btn btn-primary" id="submitForm">
                            导入
                        </button>*@
                        <button type="button" class="btn btn-default" id="cancel" data-dismiss="modal">
                            取消
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <script>
        $("#indentifier").modal(options);
        $('#indentifier').modal('show').css({
        width: 'auto',
        'margin-left': function () {
        return -($(this).width() / 2);
        }
        });
    </script>
    </div>
    <div class="tree-row">
        <div class="card left-tree p">
            <h4 class="title">部门结构图</h4>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="搜索">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">
                        <i class="fa fa-search no-margin"></i>
                    </button>
                </span>
            </div>
            <div class="tree-wrap">
                <div class="scroll-wrap">
                    <div class="  tree ">
                        <ul id="treeDemo" class="ztree"></ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="card p right-table">
            <div class="table-header">
                <div class="table-header">
                    <ul class="h-forms pull-left">
                        <li>每页显示</li>
                        <li><input type="text" class="form-control short"></li>
                        <li>条</li>
                    </ul>
                    <ul class="h-forms pull-right">
                        <li><input type="text" class="form-control"></li>
                        <li><button class="btn btn-primary"><i class="fa fa-search"></i>搜索</button></li>
                    </ul>

                </div>
                <div class="main-table mt">

                    <table class="table table-striped table-hover table-bordered display" id="example" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="checkbox-wrap">
                                    <input type="checkbox" id="item_0"><label for="item_0"></label>
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DepartmentOrder)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DepartmentAbbr)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ParentDepartmentName)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.StaffSize)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Remark)
                                </th>
                                @*<th>
                                  排序
                                </th>*@
                                @* DepartmentViewModel显示部门信息（部门表变化的字段） *@
                                @*@foreach (var temp in @ViewBag.recordList)
                                    {
                                        <th>
                                            @Html.DisplayName((string)temp.Description)
                                        </th>
                                    }*@
                                <th>
                                    操作
                                </th>
                            </tr>
                        </thead>

                        @*@{
                                int index = 0;
                            }*@
                        @{
                            int index = 0;
                        }

                        @foreach (var item in Model)
                        {

                            index = index + 1;
                            <tr>
                                <td class="checkbox-wrap">
                                    <input type="checkbox" id="item_@index"><label for="item_@index"></label>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DepartmentOrder)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DepartmentAbbr)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ParentDepartmentName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StaffSize)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Remark)
                                </td>
                              
                                @* DepartmentViewModel显示部门信息（部门表变化的字段） *@
                                @*@foreach (var temp in @ViewBag.List)
                                    {

                                        if (temp.Id == item.Id)
                                        {
                                                <th>
                                                    @temp.Value
                                                </th>
                                        }
                                        else
                                        {
                                                <th>

                                               </th>
                                        }
                                    }*@
                                <td>
                                    <a href="/Department/Details/@item.Id" class="icon fa fa-search bgc-blue-500" title="详情"></a>
                                    <a href="/Department/Edit/@item.Id" class="icon fa fa-edit bgc-blue-500" title="编辑"></a>
                                    <a href="/Department/Delete/@item.Id" class="icon fa fa-trash bgc-red-500" title="删除"></a>
                                </td>
                            </tr>
                        }
                    </table>
                    <div class="table-footer">
                        <nav class="pull-left">
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        上一页
                                    </a>
                                </li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">...</a></li>
                                <li><a href="#">10</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        下一页
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <div class="pull-right pt">
                            <span class="mr">第 1 页 </span>总共<span class="tc-red-500 ph">18</span>页
                        </div>
                    </div>
                </div>

            </div>
            @{
                int num = Model.Count();

            }

          
        </div>
        </div>
  

     <div>
         
            @if (@ViewBag.alertMul != null)
            {
                <script>
                    $("#up").click();
                </script>
            }
        </div>
}
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/bootstrap/bootstrap.min.js"></script>
<script src="lib/scroll-bar/jquery.slimscroll.min.js"></script>

<script src="js/app.js"></script>
        <script>
            $(document).ready(function () {
                $('#example').DataTable({
                    //"order": [[3, "desc"]],
                    "order": [[0, "asc"]],
                    "language": {
                        "lengthMenu": "每页显示 _MENU_ 记录",
                        "zeroRecords": "没有找到记录",
                        "info": "显示第_PAGE_页 共 _PAGES_页",
                        "infoEmpty": "无可用记录",
                        "infoFiltered": "(filtered from _MAX_ total records)",
                        "search": "搜索",
                        "paginate": {
                            "first": "首页",
                            "last": "尾页",
                            "next": "下一页",
                            "previous": "上一页"
                        },
                    }
                });
            });

            $("#add").click(function () {
                window.location.href = "/Department/Create"
            });

            $("#back").click(function () {
                window.location.href = "/Department/Index"
            });
            $("#refresh").click(function () {
                window.location.reload();
            });
            $('#test').click(function () {
                var str = "";
                $("input[name='roles']:checkbox").each(function () {
                    if ($(this).is(":checked"))
                        str += $(this).val() + ",";
                })
                str = str.substring(0, str.length - 1);
                $('#SelectedRoles').attr('value', str);
            });
        </script>
        <script>
            $("#refresh").click(function () {
                window.location.reload();
            })
            function tz() {
                window.location.href = "/Department/Index";
            }
        </script>

