@model BonsaiiModels.SubscribeList

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SubscribeList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubscribeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubscribeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SQL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SQL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSQLLegal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSQLLegal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
