@model IEnumerable<Bonsaii.Models.RoleModels>

@{
    ViewBag.Title = "为管理员赋予角色";
}
<script src="~/Scripts/jsTree/assets/dist/jstree.js"></script>
<script src="~/Scripts/jsTree/assets/dist/jstree.min.js"></script>
@*<link href="~/Scripts/jsTree/assets/dist/themes/default/style.css" rel="stylesheet" />
<link href="~/Scripts/jsTree/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />*@

<div class=" navbar-header">
    <span class="glyphicon glyphicon-home"></span><a class="mypagebarindex" href="index.html"> 主页 </a>-系统设置-@ViewBag.Title
</div>
<hr />
<div class="row col-md-offset-0">
    <br>
    @*<h1 style="color:gray;">@ViewBag.Title</h1>*@
    <div class="row col-md-offset-0">
    </div>
</div>
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default" style="padding-left:0px;padding-right:0px;width:99%">
                <div class="panel-heading">
                    <h4 class="panel-title col-md-11" style="width:80%">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapseOne" style="text-decoration: none;">
                            请选择管理员所属角色
                        </a>
                    </h4>
                    <button type="button" class="btn btn-infogreen" id="back">
                        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;返回
                    </button>
                    <button type="submit" class="btn btn-infogreen">
                        <span class="glyphicon glyphicon-save"></span>&nbsp;授权
                    </button>
                    <button id="refresh" type="button" class="btn btn-infogreen"><span class="glyphicon glyphicon-refresh"></span>&nbsp;刷新</button>
                    <button type="button" id="downchevron" data-toggle="collapse" data-parent="#accordion"
                            href="#collapseOne" class="btn btn-infogreen " style="display:none">
                        <span class="glyphicon glyphicon-chevron-down"></span>&nbsp;展开
                    </button>

                    <button type="button" id="upchevron" data-toggle="collapse" data-parent="#accordion"
                            href="#collapseOne" class="btn btn-infogreen  " @*style="position:fixed;margin-right:1px;margin-left:1px"*@>
                        <span class="glyphicon glyphicon-chevron-up" id="upspan"></span>&nbsp;折叠
                    </button>

                    @*<a data-toggle="collapse" data-parent="#accordion"
                           href="#collapseOne">
                            <span class="glyphicon glyphicon-chevron-down" style="color:#ffffff"></span>
                        </a>
                        <span class="glyphicon glyphicon-refresh" id="refresh"></span>*@

                </div>

                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row col-md-offset-0">
                            @foreach (var item in Model)
                            {
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" @(ViewBag.Roles.Contains(item.Name) ? "checked" : "") name="roles" value="@item.Name" />@item.Name
                                    </label>
                                </div>
                            }

                            <input type="hidden" name="UserId" id="UserId" value="@ViewBag.UserId" />
                            <input type="hidden" name="SelectedRoles" id="SelectedRoles" />

                        </div>
                        <div class="row col-md-offset-0">
                       
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
}



<script>
    $("#back").click(function () {
        window.location.href = "/User/Index"
    });
    $("#refresh").click(function () {
        window.location.reload();
    });
    $('#test').click(function () {
        var str = "";
        $("input[name='roles']:checkbox").each(function () {
            if ($(this).is(":checked"))
                str += $(this).val() + ",";
        })
        str = str.substring(0, str.length - 1);
        $('#SelectedRoles').attr('value', str);
    });
</script>