@model IEnumerable<Bonsaii.Models.UserPasswordInfo>
@{
    Layout = "~/Views/Shared/_LayoutMainSuperRoot.cshtml";
}

<h2>妥妥的都是申请找回密码的筒子们</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TelNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmitTime)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.BusinessLicense)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.AuditStatus)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TelNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmitTime)
            </td>
            @*<td>
                @if (item.BusinessLicense != null)
                {
                    <img width="280" height="300"  src="@Url.Action("GetImage", "Account",new { item.CompanyId})" />
                }
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.AuditStatus)
            </td>

            <td>
                @if (item.AuditStatus == 0)
                {
                    @Html.ActionLink("处理","OfferHelp", new { id = item.Id })
                }
                @if (item.AuditStatus == 1)
                {
                    @Html.Label("已处理")
                }

            </td>
        </tr>
    }
</table>





