@model Bonsaii.Models.Audit.AuditTemplate

@{
    ViewBag.Title = "删除签核单据配置";
}
<script src="~/Scripts/UI/lib/jquery/jquery.min.js"></script>
<div class="content">
    <!-- 主内容开始 -->
    <div class="control-bar card bor-b">
        <ul class="breadcrumb pull-left pv">
            <li><a href="#"><i class="fa fa-home"></i>主页</a></li>
            <li><a href="#">电子签核</a></li>
            <li><a href="#">签核单据配置</a></li>
            <li><a href="#">@ViewBag.Title</a></li>
        </ul>
        <div class="h-list pull-right pv">
            <a href="#" id="longforSave"><i class="fa fa-remove"></i>删除</a>
            <a href="#" id="refresh"><i class="fa fa-refresh"></i>刷新</a>
            <a href="/AuditTemplate/Index"><i class="fa fa-backward"></i>返回</a>
        </div>
    </div>
</div>
<div class="card panel-box">
    <h4 class="title">@ViewBag.Title</h4>
    @{Html.EnableClientValidation(true);}
    @{Html.EnableUnobtrusiveJavaScript();}
@using (Html.BeginForm("Delete", "AuditTemplate", FormMethod.Post, new { @id = "longfor_form", enctype = "multipart/form-data" }))
{
        @Html.AntiForgeryToken()
        <div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CreateDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreateDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Creator)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Creator)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ExpireTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ExpireTime)
                </dd>
                <dd>
                    <input type="submit" value="删除" class="btn btn-primary" id="delete" />
                    <button type="button" class="btn btn-outline" onclick="tz()">取消</button>
                </dd>
             
            </dl>
            @if(ViewBag.ErrorMessage == true)
            {
                <script>
                    alert("该模板仍在使用中，无法删除");
                </script>
            }
        </div>
  
}
    </div>
<script>
    $("#refresh").click(function () {
        window.location.reload();
    });
    function tz() {
        window.location.href = "/AuditTemplate/Index";
    }
</script>



    