@model IEnumerable<BonsaiiModels.BindCodeViewModel>

    @{
        ViewBag.Title = "App管理";
    }
    <script src="~/Scripts/UI/lib/jquery/jquery.min.js"></script>

    <div class="content">
        <!-- 主内容开始 -->
        <div class="control-bar card bor-b">
            <ul class="breadcrumb pull-left pv">
                <li><a href="#"><i class="fa fa-home"></i>主页</a></li>
                <li><a href="#">App管理</a></li>
                <li><a href="#">@ViewBag.Title</a></li>
            </ul>
            <div class="h-list pull-right pv">
                @*<a href="#" id="add"><i class="fa fa-plus"></i>新增</a>*@
                <a href="#" id="refresh"><i class="fa fa-refresh"></i>刷新</a>
                <a href="#"><i class="fa fa-print"></i>输出</a>
            </div>
        </div>


        <div class="card panel-box">
            <div class="table-header">
                <ul class="h-forms pull-left">
                    <li>每页显示</li>
                    <li><input type="text" class="form-control short"></li>
                    <li>条</li>
                </ul>
                <ul class="h-forms pull-right">
                    <li><input type="text" class="form-control"></li>
                    <li><button class="btn btn-primary"><i class="fa fa-search"></i>搜索</button></li>
                </ul>

            </div>
            <div class="main-table mt">
                <table class="table table-bordered">
                    <tr>
    <th class="checkbox-wrap">
        <input type="checkbox" id="item_0"><label for="item_0"></label>
    </th>
   <th>
        @Html.DisplayNameFor(model => model.StaffNumber)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.RealName)
    </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Department)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Position)
                        </th>
    <th>
        @Html.DisplayNameFor(model => model.BindingCode)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Phone)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.BindTag)
    </th>
                        <th>重置绑定码</th>
    <th>
        @Html.DisplayNameFor(model => model.LastTime)
    </th>
    
    
</tr>
@{
    int index = 0;
}

@foreach (var item in Model)
{

    index = index + 1;
    <tr>

        <td class="checkbox-wrap">
            <input type="checkbox" id="item_@index"><label for="item_@index"></label>
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.StaffNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RealName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BindingCode)
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BindTag)
            @if (item.BindTag == true)
            {
                 @Html.ActionLink("解除绑定", "Edit", new { id = item.Id })
            }
            else
            {
              @Html.ActionLink("发送绑定信息", "Index")// @Html.ActionLink("发送绑定信息", "#", new { id = item.Id })
            }
        </td>
        <td>
            @if (item.BindTag == true)
            {
               
            }
            else
            {
                @Html.ActionLink("重置绑定码", "Reset", new { id = item.Id })
            }

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastTime)
        </td>
       
       
    </tr>
}

                </table>
                <div class="table-footer">
                    <nav class="pull-left">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    上一页
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">...</a></li>
                            <li><a href="#">10</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    下一页
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="pull-right pt">
                        <span class="mr">第 1 页 </span>总共<span class="tc-red-500 ph">18</span>页
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>
        //$("#add").click(function () {
        //    window.location.href = "/AppManage/Create"
        //});
        $("#refresh").click(function () {
            window.location.reload();
        });
    </script>

