@model Bonsaii.Models.ReserveField

@{
    ViewBag.Title = "自定义字段详情";
}
<script src="~/Scripts/UI/lib/jquery/jquery.min.js"></script>
<div class="content">
    <!-- 主内容开始 -->
    <div class="control-bar card bor-b">
        <ul class="breadcrumb pull-left pv">
            <li><a href="#"><i class="fa fa-home"></i>主页</a></li>
            <li><a href="#">设置单据性质</a></li>
            <li><a href="#">@ViewBag.Title</a></li>
        </ul>
        <div class="h-list pull-right pv">
            <a href="/ReserveField/Edit/@Model.Id"><i class="fa fa-edit"></i>编辑</a>
            <a href="#" id="refresh"><i class="fa fa-refresh"></i>刷新</a>
            <a href="/ReserveField/Index"><i class="fa fa-backward"></i>返回</a>

        </div>
    </div>
</div>
<div class="card panel-box">
    <h4 class="title">@ViewBag.Title</h4>

    <div>


        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TableName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TableName.TableDescription)
                @*@Html.DisplayFor(model => model.TableName)*@
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FieldName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FieldName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd>
                @if (Model.Status)
                {
                    <input type="checkbox" id="Status" disabled="disabled" checked="checked"><label for="Status"></label>
                }
                else
                {
                    <input type="checkbox" id="Status" disabled="disabled"><label for="Status"></label>

                }
            </dd>
            <dt>
            </dt>
            <dd>
                <a href="/ReserveField/Edit/@Model.Id"><input type="submit" value="编辑" class="btn btn-primary" /></a> <button type="button" class="btn btn-outline" onclick="tz()">取消</button>
            </dd>
        </dl>
    </div>
</div>
<script>
    $("#refresh").click(function () {
        window.location.reload();
    })
    function tz() {
        window.location.href = "/ReserveField/Index";
    }
</script>