@model Bonsaii.Models.ContractViewModel

@{
    ViewBag.Title = "创建合同资料";
}
<script src="~/Scripts/UI/lib/jquery/jquery.min.js"></script>
<script src="~/Scripts/longfor.js"></script>
<link href="~/Content/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="~/Scripts/datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script src="~/Scripts/datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="~/Scripts/bootstrap-select.js"></script>


@using (Html.BeginForm("Create", "Contract", FormMethod.Post, new { enctype = "multipart/form-data", @id = "longfor_form" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <div class="content">
            <!-- 主内容开始 -->
            <div class="control-bar card bor-b">
                <ul class="breadcrumb pull-left pv">
                    <li><a href="#"><i class="fa fa-home"></i>主页</a></li>
                    <li><a href="#">合同资料管理</a></li>
                    <li><a href="#">@ViewBag.Title</a></li>
                </ul>
                <div class="h-list pull-right pv">
                    <a href="#" id="longforSave"><i class="fa fa-save"></i>保存</a>
                    <a href="#" id="refresh"><i class="fa fa-refresh"></i>刷新</a>
                    <a href="#" id="back"><i class="fa fa-backward"></i>返回</a>

                </div>
            </div>
        </div>
        <div class="card panel-box">
            <h4 class="title">@ViewBag.Title</h4>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.BillTypeNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">

                    @Html.EditorFor(model => model.BillTypeNumber, new { htmlAttributes = new { @class = "form-control" } })

                    @Html.ValidationMessageFor(model => model.BillTypeNumber, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.BillNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.BillNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BillNumber, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                @Html.LabelFor(model => model.FirstParty, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    <input class="form-control" readonly="readonly" value=@ViewBag.company>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SecondParty, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">

                    @Html.EditorFor(model => model.SecondParty, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SecondParty, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Department, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Department, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ContractNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.ContractNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ContractNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SignDate, htmlAttributes: new { @class = "control-label col-md-2" })

                <div class="col-md-3">
                    <div class="input-group date form_date1" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                        @Html.EditorFor(model => model.SignDate, new { htmlAttributes = new { @class = "form-control" } })

                        <span class="input-group-addon"><span class="fa fa-remove glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>

                    </div>@Html.ValidationMessageFor(model => model.SignDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <script type="text/javascript">

                $('.form_date1').datetimepicker({
                    language: 'zh-CN',
                    format: 'yyyy/mm/dd',
                    weekStart: 0,
                    todayBtn: 1,
                    autoclose: 1,
                    todayHighlight: 1,
                    startView: 2,
                    minView: 2,
                    forceParse: 0
                });

            </script>



            <div class="form-group">
                @Html.LabelFor(model => model.DueDate, htmlAttributes: new { @class = "control-label col-md-2" })

                <div class="col-md-3">
                    <div class="input-group date form_date2" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                        @Html.EditorFor(model => model.DueDate, new { htmlAttributes = new { @class = "form-control" } })

                        <span class="input-group-addon"><span class="fa fa-remove glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>

                    </div>@Html.ValidationMessageFor(model => model.DueDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <script type="text/javascript">

                $('.form_date2').datetimepicker({
                    language: 'zh-CN',
                    format: 'yyyy/mm/dd',
                    weekStart: 0,
                    todayBtn: 1,
                    autoclose: 1,
                    todayHighlight: 1,
                    startView: 2,
                    minView: 2,
                    forceParse: 0
                });

            </script>

            <div class="form-group">
                @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ContractObject, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.ContractObject, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ContractObject, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ContractAttachmentName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    <input type="file" name="File" />
                    @Html.ValidationMessageFor(model => model.ContractAttachmentName, "", new { @class = "text-danger", @type = "file" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                </div>
            </div>
            @foreach (var temp in @ViewBag.fieldList)
        {
                <div class="form-group">
                    @Html.Label((string)temp.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.Editor((string)(temp.FieldName), new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => temp, "", new { @class = "text-danger" })
                    </div>
                </div>
        }
            @if (@ViewBag.alertMessage == true)
            {
                <script>
                    alert("请先设置该单据的审批模板！");
                </script>
            }
            <div class="form-group">
                <div class="col-md-offset-2 col-md-3">
                    <input type="submit" value="保存" id="submitForm" class="btn btn-primary" />
                    <button type="button" class="btn btn-outline" onclick="tz()">取消</button>
                </div>
            </div>
        </div>
        </div>
}


@section Scripts {

    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
}
<script>
   
    function tz() {
        window.location.href = "/Contract/Index";
    }
    $("#back").click(function () {
        window.location.href = "/Contract/Index"
    });
    $("#refresh").click(function () {
        window.location.reload();
    });
   
    $.ajax({
        url: '/Contract/BillTypeNumberSearch',
        type: 'POST',
        success: function (data) {

            $('#BillTypeNumber').bootstrapSelect({
                data: data,
                downBorder: true,
                multiple: false,//多选
                onSelect: function (val, rec) {//得到选择的值
                    $.ajax({
                        url: "./BillTypeNumber",
                        type: 'POST',
                        data: { number: val },
                        success: (function (data) {
                            $("#BillNumber").val(data[0].billNumber);

                        })
                    });
                }
            });


        }

    });
    $.ajax({
        url: '/Contract/StaffNumberSearch',
        type: 'POST',
        success: function (data) {

            $('#SecondParty').bootstrapSelect({
                data: data,
                downBorder: true,
                multiple: false,//多选
                onSelect: function (val, rec) {//得到选择的值
                    $.ajax({
                        url: "./StaffContent",
                        type: 'POST',
                        data: { number: val },
                        success: (function (data) {
                           // $("#ContractNumber").val(data[0].contractNumber);
                            $("#Department").val(data[0].department);

                        })
                    });
                }
            });


        }

    });
</script>