@model Bonsaii.Models.Phrase

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Phrase</h4>
    <hr />
    <dl class="dl-horizontal">

      

        <dt>
            @Html.DisplayNameFor(model => model.PhraseScene)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhraseScene)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhraseContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhraseContent)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
