@model IEnumerable<Bonsaii.Models.StaffSkillViewModel>

@{
    ViewBag.Title = "员工技能";
}
<div class="content">
    <!-- 主内容开始 -->
    <div class="control-bar card bor-b">
        <ul class="breadcrumb pull-left pv">
            <li><a href="#"><i class="fa fa-home"></i>主页</a></li>
            <li><a href="#">人事管理</a></li>
            <li><a href="#">@ViewBag.Title</a></li>
            <li><a href="#">@ViewBag.name</a></li>
        </ul>
        <div class="h-list pull-right pv">
            @*<a href="#" id="add"><i class="fa fa-plus"></i>新增</a>*@
            <a href="#" id="refresh"><i class="fa fa-refresh"></i>刷新</a>
            <a href="#"><i class="fa fa-print"></i>输出</a>
        </div>
    </div>
    <div class="card panel-box">
        <div class="main-table mt">
            <table class="table table-striped table-hover table-bordered display" id="example" cellspacing="0">
                <thead>
                   <tr>
                       <th class="checkbox-wrap">
                              <input type="checkbox" id="item_0"><label for="item_0"></label>
                        </th>
                       <th class="sorting_disabled">
                           序号
                       </th>
                       <th>
                           技能
                       </th>
                       <th>
                           技能备注
                       </th>
                       <th>
                           生效日期
                       </th>
                   </tr>
               </thead>
                @{
                   int index = 0;
                 }
               
               
                @foreach (var item in @ViewBag.skill)
                {
                    index = index + 1;
                    <tr>
                        <td class="checkbox-wrap">
                            <input type="checkbox" id="item_@index" /><label for="item_@index"></label>
                        </td>
                        <td>
                            @index
                        </td>
                        <td>
                            @item.SkillName
                        </td>
                        <td>
                            @item.SkillRemark
                        </td>
                        <td>
                            @item.AuditTime
                        </td>
                    </tr>
                }
                  
            </table>
        </div>

        @*@{
            int num = Model.Count();

        }*@

    </div>
</div>
<script>

    //$("#upchevron").click(function () {
    //    if ($("#upspan").attr("class") == "glyphicon glyphicon-chevron-up") {
    //        $('#upspan').prop('class', "glyphicon glyphicon-chevron-down");
    //    }
    //    else {
    //        $('#upspan').prop('class', "glyphicon glyphicon-chevron-up");
    //    }
    //});
    $("#add").click(function () {
        window.location.href = "/StaffSkill/Create"
    });

    $("#refresh").click(function () {
        window.location.reload();
    });

    $("#rootcheckbox").change(
        function () {
            if ($('#rootcheckbox').is(":checked")) {
                $('.brancheckbox').prop('checked', true);
            }

            else
                // $('.brancheckbox').attr("checked",false);//
                $('.brancheckbox').removeAttr("checked");
        }
        );

    $(".Id").click(function () {
        attr("yes");

    }
    );

</script>

