@model Bonsaii.Models.UserPasswordInfo
@{
    ViewBag.Title = "ForgotPasswordApply";
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}
<div class="row">
    <div class="col-md-8">
        @{Html.EnableClientValidation(true);}
        @{Html.EnableUnobtrusiveJavaScript();}
        @using (Html.BeginForm("ForgotPasswordApply", "Account", FormMethod.Post,new { enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-offset-3  col-md-6 input-sm"><img src="~/files/gwdlogo.png" /></div>
            </div>
            <div class="col-md-6" style="margin-left:88%">
                <span class="col-md-offset-0">已有账户？ @Html.ActionLink("马上登录", "Login")</span>
            </div>
            @Html.AntiForgeryToken()
                <div class="panel panel-default col-md-9 col-md-offset-3" style="padding-left:0px;padding-right:0px" ;>
                    <div class="panel-heading">
                        <p>找回密码申请 </p>
                    </div>
                    <div class="panel-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="row">
                            <h6 class="col-lg-2 col-md-offset-1">联系电话</h6>
                            <div class="col-lg-6 col-md-offset-0">
                                @Html.TextBoxFor(m => m.TelNumber, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.TelNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <h6 class="col-lg-2 col-md-offset-1">营业执照</h6>
                            <div class="col-lg-6 col-md-offset-0">
                                @if (Model.BusinessLicense != null)
                                {     <div style="float:left;margin-right:20px">
                                    <img src="@Url.Action("GetImage", "Account",new { Model.CompanyId})" />
                                </div>
                                }
                                <input type="file" name="image" id="file0" />
                                <br>
                            </div>
                        </div>

                        <div class="row">
                            <h6 class="col-lg-2 col-md-offset-1">营业执照</h6>
                            <div class="col-lg-6 col-md-offset-0">
                                <img src="" width="280" height="300" id="img0">
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-2 col-md-offset-1"></div>
                            <div class="col-lg-6 col-md-offset-0">
                                <input type="submit" class="btn btn-warning form-control " value="提交申请" />
                            </div>
                        </div>
                        </div>
                    </div>
    <div class="row">
        <div class="col-md-offset-3  col-md-6"><span>©2015 高维度科技有限公司 备案号:粤ICP备08006149号</span></div>
        <div class="col-md-offset-0 col-md-3"><span class="col-md-offset-4">客服电话：400-000-0000</span></div>
    </div>
        }
        @*@Html.ActionLink("返回", "Login")*@
</div>
</div>
          
        @section Scripts {
            <script src="~/Scripts/jquery.validate.min.js"></script>
            <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        }
        <script>
            $("#file0").change(function () {
                var objUrl = getObjectURL(this.files[0]);
                console.log("objUrl = " + objUrl);
                if (objUrl) {
                    $("#img0").attr("src", objUrl);
                }
            });
            //建立一個可存取到該file的url
            function getObjectURL(file) {
                var url = null;
                if (window.createObjectURL != undefined) { // basic
                    url = window.createObjectURL(file);
                } else if (window.URL != undefined) { // mozilla(firefox)
                    url = window.URL.createObjectURL(file);
                } else if (window.webkitURL != undefined) { // webkit or chrome
                    url = window.webkitURL.createObjectURL(file);
                }
                return url;
            }
        </script>
