@model Bonsaii.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "ViewPageOne";
    Layout = null;//"~/Views/Shared/_LayoutRegister.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>高维度科技</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="~/Scripts/UI/css/main.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.11.2.min.js"></script>
</head>


<body class="sign-body">
    <div class="signup-wrap">
        <!-- <button class="btn btn-warning login-btn">已有账户直接登录</button> -->
        <div class="form-header"></div>
        <div class="card ">
            <h4 class="title">重置密码</h4>
            @*<form class="form-horizontal mt++">*@
            <form method="post" action="/Account/ForgotPassword?role=form" class="form-horizontal mt++">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, " ", new { @class = "text-danger" })
                <div class="form-group">
                    <label for="inp1" class="col-xs-3 control-label">手机号码</label>
                    <div class="col-xs-6">
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @placeholder = "手机号码" })
                        @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-xs-3">
                        @*<small class="alert alert-info">输入提示信息</small>*@
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-xs-3 control-label">短信验证码</label>
                    <div class="col-xs-3">
                        <input type="text" class="form-control" id="Code" name="Code" placeholder="短信验证码">
                        @Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-xs-3">
                        <button type="button" class="btn btn-outline btn-block" id="code">获取验证码</button>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inp3" class="col-xs-3 control-label">密码</label>
                    <div class="col-xs-6">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @id = "inp3", @placeholder = "密码" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-3 control-label">确认密码</label>
                    <div class="col-xs-6">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "确认密码" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-xs-offset-3 col-xs-3">
                        <button type="submit" class="btn btn-success btn-block btn-lg">重置密码</button>
                    </div>
                    <div class="col-xs-3">
                        <button type="button" class="btn btn-warning btn-block btn-lg" id="btn-login">直接登录</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>
</html>
<script>
    $(document).ready(function () {
        $("#btn-login").click(function () {
            window.location.href = "/Account/Login";
        });
    });
    $("#code").click(function () {
        var phone = $('#PhoneNumber').val();
        var reg = /^1[2,3,4,5,6,7,8][0-9]{9}$/;
        if (phone == "") {
            alert("请输入电话号码");
            return;
        }
        if (!reg.test(phone)) {
            alert("请输入合法的联系电话");
            return;
        }
        $.ajax({
            url: '/Account/GenerateVerifyCode',
            data: {
                PhoneNumber: phone
            },
            type: 'POST',
            success: function (data) {
                //验证码发送失败
                if (data.errorcode <= 0) {
                    alert("验证码发送失败，错误代码：" + data.Msg);
                }

                //设置两次发送的间隔
                var count = 180;
                var countdown = setInterval(CountDown, 1000);
                function CountDown() {
                    $("#code").attr("disabled", true);
                    $("#code").text(count + " 秒后可重发");
                    if (count == 0) {
                        $("#code").text("获取验证码").removeAttr("disabled");
                        clearInterval(countdown);
                    }
                    count--;
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("验证码获取失败！请稍后重新尝试");
            },
            //    dataType: 'json'
        });

    });
</script>
<script src="~/Scripts/area/jquery.js"></script>


