@model Bonsaii.Models.WeekTag

<script src="~/Scripts/bootstrap3-typeahead.min.js"></script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Holiday</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nian, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.nian, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.nian, "", new { @class = "text-danger" })*@
                <select name="nian" class="form-control">
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Range, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="staffNumber-typeahead" class="form-control" dataprovide="typeahead" autocomplete="off" />
                @Html.HiddenFor(model => model.Range, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.Range, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Week1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.week1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.week1, "", new { @class = "text-danger" })*@
                <select name="week1" class="form-control">
                    <option value="0">工作</option>
                    <option value="1">休息</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Week2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.week2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.week2, "", new { @class = "text-danger" })*@
                <select name="week2" class="form-control">
                    <option value="0">工作</option>
                    <option value="1">休息</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Week3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.week3, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.week3, "", new { @class = "text-danger" })*@
                <select name="week3" class="form-control">
                    <option value="0">工作</option>
                    <option value="1">休息</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Week4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.week4, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.week4, "", new { @class = "text-danger" })*@
                <select name="week4" class="form-control">
                    <option value="0">工作</option>
                    <option value="1">休息</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Week5, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.week5, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.week5, "", new { @class = "text-danger" })*@
                <select name="week5" class="form-control">
                    <option value="0">工作</option>
                    <option value="1">休息</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Week6, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.week6, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.week6, "", new { @class = "text-danger" })*@
                <select name="week6" class="form-control">
                    <option value="1">休息</option>
                    <option value="0">工作</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Week7, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.week7, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.week7, "", new { @class = "text-danger" })*@
                <select name="week7" class="form-control">
                    <option value="1">休息</option>
                    <option value="0">工作</option>
                    >
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<a href="javascript :;" onclick="javascript :history.back(-1);" class="btn btn-primary">返回</a>
@*<div class="sang_Calender">
        <button class="btn btn-primary sang_Calender" id="btn">click</button>
    </div>*@
<script src="~/Scripts/datetime.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    $(document).ready(function () {
        $('#staffNumber-typeahead').typeahead
   ({
       source: function (query, process) {
           $.ajax({
               url: '/StaffSkill/StaffNumberSearch',
               type: 'POST',
               data: { number: query },
               success: function (data) {

                   process(data);

               }
           });
       },
       updater: function (item) {
           $("#Range").val(item.staffNumber);
           return item;
       }
   });
    })
</script>