@model Bonsaii.Models.Recruitments

@{
    ViewBag.Title = "创建招聘需求";
}
<script src="~/Scripts/UI/lib/jquery/jquery.min.js"></script>
<script src="~/Scripts/longfor.js"></script>
<script src="~/Scripts/bootstrap-select.js"></script>
<link href="~/Content/css/multi-select.css" media="screen" rel="stylesheet" type="text/css" />
@*<script src="~/Scripts/bootstrap-select.js"></script>*@
<script src="~/Scripts/jquery.multi-select.js" type="text/javascript"></script>
<style>
    a {
        cursor: pointer;
    }
  .ms-container .ms-list{
  height: 100px;
}
</style>
@using (Html.BeginForm("Create", "Recruitments", FormMethod.Post, new { enctype = "multipart/form-data", @id = "longfor_form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="content">
            <!-- 主内容开始 -->
            <div class="control-bar card bor-b">
                <ul class="breadcrumb pull-left pv">
                    <li><a href="#"><i class="fa fa-home"></i>主页</a></li>
                    <li><a href="#">组织结构</a></li>
                    <li><a href="#">@ViewBag.Title</a></li>
                </ul>
                <div class="h-list pull-right pv">
                    <a href="#" id="longforSave"><i class="fa fa-save"></i>保存</a>
                    <a href="#" id="refresh"><i class="fa fa-refresh"></i>刷新</a>
                    <a href="#" id="back"><i class="fa fa-backward"></i>返回</a>

                </div>
            </div>
        </div>
        <div class="card panel-box">
            <h4 class="title">@ViewBag.Title</h4>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.BillType, htmlAttributes: new { @class = "control-label col-md-2 must" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.BillType, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BillType, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                    @Html.LabelFor(model => model.BillCode, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.BillCode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BillCode, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            <div class="form-group">
                @Html.LabelFor(model => model.DepartmentName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.DepartmentName, (IEnumerable<SelectListItem>)ViewBag.DepartmentsList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DepartmentName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Position, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.Position, (IEnumerable<SelectListItem>)ViewBag.PositionsList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RequiredNumber, htmlAttributes: new { @class = "control-label col-md-2 must" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.RequiredNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RequiredNumber, "", new { @class = "text-danger" })
                </div>
            </div>

             @*<div class="form-group">
                @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.ListBoxFor(model => model.Gender, (IEnumerable<SelectListItem>)ViewBag.GendersList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                </div>
            </div>*@
            <div class="form-group">
                @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="panel panel-default col-md-4">
                            <span>请选择：<a id='select_all_Gender'>(选择全部)</a></span><span style="padding-left: 35%">已选择：<a id='deselect_all_Gender'>(移除全部)</a></span>
                            @Html.DropDownListFor(model => model.Gender, (IEnumerable<SelectListItem>)ViewBag.GendersList, 
                            new {@class = "form-control", @id = "myselect_Gender", @multiple = "multiple", @name = "my-select[]"})
                        </div>
            </div>
      <script>
          $("#myselect_Gender").modal(options);
          $('#myselect_Gender').modal('show').css({
            width: 'auto',
            'margin-left': function () {
            return -($(this).width() / 2);
            }
            });
    </script>
            <div class="form-group">
                @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2 must" })
                <div class="col-md-3">

                    @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control", @placeholder = "输入格式：起始年龄-终止年龄（例如：24-30）" } })
                    @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                @Html.LabelFor(model => model.MaritalStatus, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.ListBoxFor(model => model.MaritalStatus, (IEnumerable<SelectListItem>)ViewBag.MaritalStatusList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MaritalStatus, "", new { @class = "text-danger" })
                </div>
            </div>*@
            <div class="form-group">
                @Html.LabelFor(model => model.MaritalStatus, htmlAttributes: new { @class = "control-label col-md-2 must" })
                <div class="panel panel-default col-md-4">
                    <span>请选择：<a id='select_all_MaritalStatus'>(选择全部)</a></span><span style="padding-left: 35%">已选择：<a id='deselect_all_MaritalStatus'>(移除全部)</a></span>
                    @Html.DropDownListFor(model => model.MaritalStatus, (IEnumerable<SelectListItem>)ViewBag.MaritalStatusList,
                            new { @class = "form-control", @id = "myselect_MaritalStatus", @multiple = "multiple", @name = "my-select[]" })  
                      @Html.ValidationMessageFor(model => model.MaritalStatus, "", new { @class = "text-danger" })
                </div>
            </div>
                    <script>
           $("#myselect_MaritalStatus").modal(options);
              $('#myselect_MaritalStatus').modal('show').css({
                width: 'auto',
                'margin-left': function () {
                    return -($(this).width() / 2);
                }
            });
        </script>

            @*<div class="form-group">
                @Html.LabelFor(model => model.EducationBackground, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.ListBoxFor(model => model.EducationBackground, (IEnumerable<SelectListItem>)ViewBag.EduBackgroundsList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EducationBackground, "", new { @class = "text-danger" })
                </div>
            </div>*@
            <div class="form-group">
                @Html.LabelFor(model => model.EducationBackground, htmlAttributes: new { @class = "control-label col-md-2 must" })
                <div class="panel panel-default col-md-4">
                    <span>请选择：<a id='select_all_EducationBackground'>(选择全部)</a></span><span style="padding-left: 35%">已选择：<a id='deselect_all_EducationBackground'>(移除全部)</a></span>
                    @Html.DropDownListFor(model => model.EducationBackground, (IEnumerable<SelectListItem>)ViewBag.EduBackgroundsList,
                 new { @class = "form-control", @id = "myselect_EducationBackground", @multiple = "multiple", @name = "my-select[]" })  
                     @Html.ValidationMessageFor(model => model.EducationBackground, "", new { @class = "text-danger" })
                </div>
            </div>
            <script>
                $("#myselect_EducationBackground").modal(options);
                $('#myselect_EducationBackground').modal('show').css({
                    width: 'auto',
                    'margin-left': function () {
                        return -($(this).width() / 2);
                    }
                });
            </script>
            @*<div class="form-group">
                @Html.LabelFor(model => model.Major, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.ListBoxFor(model => model.Major, (IEnumerable<SelectListItem>)ViewBag.MajorsList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Major, "", new { @class = "text-danger" })
                </div>
            </div>*@
            <div class="form-group">
                @Html.LabelFor(model => model.Major, htmlAttributes: new { @class = "control-label col-md-2 must" })
                <div class="panel panel-default col-md-4">
                    <span>请选择：<a id='select_all_Major'>(选择全部)</a></span><span style="padding-left: 35%">已选择：<a id='deselect_all_Major'>(移除全部)</a></span>
                    @Html.DropDownListFor(model => model.Major, (IEnumerable<SelectListItem>)ViewBag.MajorsList,
                 new { @class = "form-control", @id = "myselect_Major", @multiple = "multiple", @name = "my-select[]" })  
                    @Html.ValidationMessageFor(model => model.Major, "", new { @class = "text-danger" })
                </div>
            </div>
            <script>
                $("#myselect_Major").modal(options);
                $('#myselect_Major').modal('show').css({
                    width: 'auto',
                    'margin-left': function () {
                        return -($(this).width() / 2);
                    }
                });
            </script>
            <div class="form-group">
                @Html.LabelFor(model => model.WorkExperience, htmlAttributes: new { @class = "control-label col-md-2 must" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.WorkExperience, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.WorkExperience, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Skill, htmlAttributes: new { @class = "control-label col-md-2 must" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Skill, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Skill, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Others, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Others, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Others, "", new { @class = "text-danger" })
                </div>
            </div>
            @*遍历，显示那些自定义的字段*@
            @foreach (var x in @ViewBag.fieldList)
            {
                <div class="form-group">
                    @*<label>x.Description</label>*@
                    @Html.Label((string)x.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.Editor((string)(x.FieldName), new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => x, "", new { @class = "text-danger" })
                    </div>
                </div>

            }
            <div class="form-group">
                <div class="col-md-offset-2 col-md-3">
                    <input type="submit" value="保存" id="submitForm" class="btn btn-primary" />
                    <button type="button" class="btn btn-outline" onclick="tz()">取消</button>
                </div>
            </div>
        </div>
    </div>
}


<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>

<script>
    function tz() {
        window.location.href = "/Recruitments/Index";
    }
    $("#back").click(function () {
        window.location.href = "/Recruitments/Index"
    });
    $("#refresh").click(function () {
        window.location.reload();
    });
    function checkStaffSize() {
        $.ajax({
            url: '/Recruitments/CheckStaffSize',
            type: 'POST',
            data: {
                number: $("#RequiredNumber").val(),
                DepartmentName: $("#DepartmentName").val()
            },
            success: function (data) {
                if (data.result != "success")
                   $("#RequiredNumber ~ span").text(data.result);
             //   $("#RequiredNumber").val("");
            }
        });
    }
    $('#RequiredNumber').blur(checkStaffSize);

    $("#DepartmentName").change(checkStaffSize);

    var billTypeNumber = "25";//招聘管理
    $.ajax({
        url: '/StaffSkill/BillTypeNumberSearch',
        type: 'POST',
        data: { name: billTypeNumber },
        success: function (data) {
            $('#BillType').bootstrapSelect({
                data: data,
                downBorder: true,
                multiple: false,//多选
            });


        }

    });



    

    //$.ajax({
    //    url: '/Recruitments/BillTypeNumberSearch',
    //    type: 'POST',
    //    success: function (data) {

    //        $('#BillType').bootstrapSelect({
    //            data: data,
    //            downBorder: true,
    //            multiple: false,//多选
    //            onSelect: function (val, rec) {//得到选择的值
    //                $.ajax({
    //                    url: "./BillTypeNumber",
    //                    type: 'POST',
    //                    data: { number: val },
    //                    success: (function (data) {
    //                        $("#BillCode").val(data[0].billNumber);

    //                    })
    //                });
    //            }
    //        });


    //    }

    //});
    /*<选择性别*/
    $('#myselect_Gender').multiSelect();
    $('#select_all_Gender').click(function () {
        $('#myselect_Gender').multiSelect('select_all');
        return false;
    });
    $('#deselect_all_Gender').click(function () {
        $('#myselect_Gender').multiSelect('deselect_all');
        return false;
    });
    /*选择性别>*/
    /*<选择性别*/
    $('#myselect_MaritalStatus').multiSelect();
    $('#select_all_MaritalStatus').click(function () {
        $('#myselect_MaritalStatus').multiSelect('select_all');
        return false;
    });
    $('#deselect_all_MaritalStatus').click(function () {
        $('#myselect_MaritalStatus').multiSelect('deselect_all');
        return false;
    });
    /*选择性别>*/
    /*<选择专业*/
    $('#myselect_Major').multiSelect();
    $('#select_all_Major').click(function () {
        $('#myselect_Major').multiSelect('select_all');
        return false;
    });
    $('#deselect_all_Major').click(function () {
        $('#myselect_Major').multiSelect('deselect_all');
        return false;
    });
    /*选择专业>*/
    /*<选择专业*/
    $('#myselect_EducationBackground').multiSelect();
    $('#select_all_EducationBackground').click(function () {
        $('#myselect_EducationBackground').multiSelect('select_all');
        return false;
    });
    $('#deselect_all_EducationBackground').click(function () {
        $('#myselect_EducationBackground').multiSelect('deselect_all');
        return false;
    });
    /*选择专业>*/

    //$.ajax({
    //    url: '/Staff/SimpleParamSearch',
    //    type: 'POST',
    //    data: { name: position },
    //    success: function (data) {
    //        $('#Position').bootstrapSelect({
    //            data: data,
    //            downBorder: true,
    //            multiple: false,//多选
    //            onSelect: function (val, rec) {

    //            }
    //        });
    //        for (var i = 0; i < data.length; i++) {
    //            if (data[i].isDefault == true) {
    //                $('#Position').val(data[i].id);
    //            }
    //        }
    //    }
    //});

</script>